.notfication {
  padding: 1.5rem 1.25rem;
  border-bottom: 1px solid var(--border-color);

  display: flex;

  gap:1rem;
}

.notfication:hover{
  background-color:#f8f8f8;
}

.notfication-icon{
  color:var(--twitter-blue);
  font-size:2rem;
}

.notfication-person img{
  width:40px;
  border-radius:9999px;
  margin-bottom:0.7rem;
}

.notification-title{
  font-size:1rem;
  margin-bottom:1.5rem;
}

.notification-description{
  opacity:0.6;
}